[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/jjakub83
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/jjakub83
	label-Verified = -1..+1 group user/jjakub83
	push = group user/jjakub83
	read = group user/jjakub83
	rebase = group user/jjakub83
	removeReviewer = group user/jjakub83
	submit = group user/jjakub83
[access "refs/heads/*"]
	create = group user/jjakub83
	push = +force group user/jjakub83
	pushMerge = group user/jjakub83
	read = group user/jjakub83
[access "refs/tags/*"]
	push = group user/jjakub83
	push = +force group user/jjakub83
